@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #F5F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Esferas */
.background-circle {
    position: absolute;
    background: linear-gradient(135deg, #00E0E8, #33C3DA);
    border-radius: 50%;
    z-index: -1;
}

/* Esfera grande superior derecha */
.circle1 {
    width: 80vmax;
    height: 80vmax;
    top: -40vmax;
    right: -40vmax;
    background: linear-gradient(135deg, #00E0E8, #33C3DA);
}

/* Esfera pequeña inferior izquierda */
.circle2 {
    width: 30vmax;
    height: 30vmax;
    bottom: -15vmax;
    left: -15vmax;
    position: absolute;
    background: linear-gradient(135deg, #00E0E8, #33C3DA);
    border-radius: 50%;
    z-index: -1;
}


/* Contenedor principal */
.container {
    background: white;
    border-radius: 20px;
    display: flex;
    width: 900px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Lado izquierdo */
.info {
    width: 50%;
    background: linear-gradient(135deg, #00E0E8, #33C3DA);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

/* Lado derecho */
.formulario {
    width: 50%;
    padding: 40px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos de los textos */
.info h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info p {
    font-size: 15px;
    line-height: 1.5;
}

/* Formulario */
.formulario h2 {
    font-size: 20px;
    color: #00C3DA;
    margin-bottom: 20px;
}

.formulario input {
    width: 90%;
    padding: 10px;
    margin: 8px auto;
    border: 1px solid #00C3DA;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}

.formulario button {
    width: 90%;
    padding: 10px;
    background: #00E0E8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

    .formulario button:hover {
        background: #00c0c8;
    }

/* Links */
.formulario a {
    font-size: 12px;
    color: #00C3DA;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

    .formulario a:hover {
        text-decoration: underline;
    }

.or {
    font-size: 12px;
    color: #999;
    margin: 10px 0;
}

.google-text {
    font-size: 12px;
    color: #999;
}

/* RESPONSIVE */
@media (max-width: 950px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .info, .formulario {
        width: 100%;
        height: auto;
    }
}
